DiscoBall.xcodeproj/xcuserdata/robert-hein.xcuserdatad/xcschemes/xcschememanagement.plist
DiscoBall.xcodeproj/project.xcworkspace/xcuserdata/robert-hein.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
